@font-face {
    src: url(../font/Roboto-Regular.ttf);
    font-family: Roboto-Regular;
}

body {
    margin: 0; 
    padding: 0
    font-family: Roboto-Regular, Arial;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 5px 20px;
    background-color: #3882F6;
    border: 0px;
    border-radius: 7px;
}

h2,
.quote {
    font-size: 36px;
    color:  #1F2937;
}

.logo {
    font-size: 24px;
}

button,
.logo,
.awesome-website {
    color: #F9FAF8;
}

.links,
.smaller-font {
    font-size: 18px;
}

.links,
.smaller-font,
.footer-text { 
    color: #E5E7EB;
}

.awesome-website {
    font-size: 48px;
}

.header,
.footer { 
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.cta {
    background-color: #3882F6;
}